body {
    margin: 0;
}

/* Anchoring */

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

a:hover {
    color: rgb(121, 113, 113);
    background-color: transparent;
    text-decoration: none;
  }


/* HEADER */

.headerTOI{
    width: 80%;
    margin: 0 auto;
}

.headerTOI p{
    font-size: 10px;
    font-family: Montserrat,Verdana,arial,sans-serif; 
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.top1 {
    color: rgb(99, 99, 99);
    padding: 4px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top1 div:nth-child(5) {
  margin-left: auto;
}

.TOIlogo {
    height: 20px;
    border-radius: 15%;
}
.TOIplus {
    height: 15px;
    margin: 0;
}
.searchlogo {
    height: 15px;
}

.inflag {
    height: 10px;
}

.fa:hover {
    opacity: 0.7;
}
.fa {
    padding-top: 8px;
    font-size: 0px;
    width: 25px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid black 1px;
    color: rgb(89, 89, 89);
}

/* TIMES OF INDIA */

.mainhead{
    width: 80%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 2.8em;
    padding: 18px;
    letter-spacing: -3px;
    margin: 0 auto;
    color: rgb(26, 26, 26);
}

/* NAV BAR  */

.navbar {
    list-style-type: none;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li:nth-child(18) {
  margin-left: auto;
}

  
 .navbar li {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat, Verdana, arial, sans-serif;
    font-stretch: expanded;
    cursor: pointer;
  }


  /* IN THE NEWS */
  .t3 {
    font-family: Montserrat, Verdana, arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-stretch: expanded;
    letter-spacing: -0.2px;
}



/********************************************** MAIN NEWS ***********************************************/


/* 4-Left Division News */

.leftdiv {
    /* display: inline-block; */
    margin-top: 30px;
    /* margin-left: 150px; */
    border-right: dotted rgba(46, 45, 45, 0.63) 1px;
    padding-right: 10px; 
    /* float: left; */
}


.news1 {
    border-radius: 10px; margin: 0; padding: 0; max-height:100%; max-width:100%; overflow: hidden;
} 

.news2 {
    margin: 2px;
    margin-right: 10px;
    border-bottom: dotted rgb(0, 0, 0) 1px;
    font-family: Montserrat, Verdana, arial, sans-serif;
    text-align: left;    
}

.news2img {
    width: 80px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.news2text {
    font-size: 13px;
    width: 160px;
    height: 54px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: rgb(26,26,26);
    font-family: Montserrat,Verdana,arial,sans-serif;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.news2text:hover{
    color: rgb(121, 113, 113);
}
/* 5-mid Div News */

.middiv {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px; 
    border-right: dotted rgba(46, 45, 45, 0.63) 1px;
    padding-right: 10px;
    float: left;
}

.news3img{
     width: 160px;
     height: 90px;
     border-radius: 5px;

}

.news3text {
    font-size: 13px;
    width: 160px;
    height: 54px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: rgb(61,61,61);
    font-family: Montserrat,Verdana,arial,sans-serif;
    font-weight: 500px;
    letter-spacing: -0.2px;
}
.news3text:hover{
    color: rgb(121, 113, 113);
}

/* Right div news */

.rightdiv {
    display: inline-block;
    margin-top: 30px;
    margin-right: 180px; 
    padding: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    float: right;    
}

.rightdiv li {
    padding: 13px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border-bottom: dotted rgb(26, 26, 26) 1px;
    font-family: Montserrat, Verdana, arial, sans-serif;
    letter-spacing: -0.2px;
    font-stretch: 100%;
    width: 353px;
    text-align: left;
    font-size: 13px;
    cursor: pointer;
}

.rightdiv li:hover {
    color: rgb(121, 113, 113);
    position: static;
}



/* Trending News */

.tnews {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.tnewscell {
    padding:15px; padding-top: 0px; padding-bottom: 0px; background: rgb(246, 246, 246); border-radius: 20px; font-size: 12px; font-family: Montserrat,Verdana,arial,sans-serif; text-align: center;
}

/* FOOTER */



.footleft {
    cursor: pointer;
    width: 30%;
}
footer td {
    cursor: pointer;
    width: 35%;
}

.footmid {
    width: 30%;
}

.footright {
    width: 30%;
}